<!--
  Things to change:
    - pre-filled values ()
    - action ()
    - hidden input patch ()
    - submit button ()
-->

<form action="<%= cat.persisted? ? cat_url(cat.id) : cats_url %>" method="POST" >
  <% if action == "edit" %>
    <input type="hidden" name="_method" value="PATCH">
  <% end%>

  <p>
    <label for="name">Name</label>

    <input id="name" type="text" name=cat[name] value="<%= cat.name if cat.name %>" >
  </p>

  <p>
    <label for="birth_date">Birth date</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date  %>" max="<%= Date.today %>"  >
  </p>

  <p>
    <label for="color">Pick cat's color</label>
    <select name="cat[color]" id="color">
      <option disabled selected>--  Cat's color</option>

      <% Cat::CAT_COLORS.each do |color| %>
        <option value="<%= color %>" <%= cat.color == color ? "selected" : "" %> >
          <%= color %>
        </option>
      <% end %>
    </select>

  </p>

  <div>
    <fieldset>
      <legend>Please select cat's sex:</legend>
      <p>
        <input type="radio" name="cat[sex]" id="male"
        <%= cat.sex == "M" ? "checked" : "" %> 
        <%= cat.persisted? ? "" : "checked" %>
        value="M">
        <label for="male">Male</label>

        <input type="radio" name="cat[sex]" id="female" 
        value="F" 
        <%= cat.sex == "F" ? "checked" : "" %> >
        <label for="female" style="margin-right: 1rem">Female</label>
      </p>
    </fieldset>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="cat[description]" id="description"><%=cat.description if cat.description %></textarea>
  </div>

  <p>
    <% if cat.persisted? %>
      <%= link_to "Return", cat_url(@cat), class: "button clear black" %>
    <% end %>
    <input type="submit" value=<%= action == "new" ? "Save kitty" : "Update kitty" %>, class="button success">
  </p>
</form>
