<form action="/cats" method="post">
  <p>
    <label for="name">Name</label>

    <input id="name" type="text" name=cat[name] value="<%= cat.name  %>" >
  </p>

  <p>
    <label for="birth_date">Birth date</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date  %>" max="<%= Date.today %>"  >
  </p>

  <p>
    <label for="color">Pick cat's color</label>
    <select name="cat[color]" id="color">
      <option disabled selected>--  Cat's color</option>

      <% Cat::CAT_COLORS.each do |color| %>
        <option value="<%= color %>" <%= cat.color == color ? "selected" : "" %> >
          <%= color %>
        </option>
      <% end %>
    </select>

  </p>

  <div>
    <label>Choose cat sex</label>
    <div>
      <label for="male">Male</label>
      <input type="radio" name="cat[sex]" id="male"
        <%= cat.sex == "M" ? "checked" : "" %> 
        value="M">

      <label for="female">Female</label>
      <input type="radio" name="cat[sex]" id="female" 
        value="F" 
        <%= cat.sex == "F" ? "checked" : "" %> >
    </div>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="cat[description]" id="description"></textarea>
  </div>

  <input type="submit" value="Save this kitty">
</form>
