<style>
  td {
    padding: 5px 15px;
  }
</style>
<div class="grid-container">

  <div style="max-width: 700px; margin: 3rem auto;" class="show__container">
    <h1 class="text-center text-uppercase "><%= @cat.name  %></h1>
    <div class="align-top flex-container">
      <img src="http://placekitten.com/200/200" alt="">
      <div class="flex-child-grow" style="margin-left: 1rem">
        <table >
          <thead>
            <tr>
              <th>Prop</th>
              <th>Value</th>
            </tr>
          </thead>
          <tr>
            <td>Birth date</td>
            <td><%= @cat.birth_date %></td>
          </tr>

          <tr>
            <td>Color</td>
            <td><%= @cat.color  %></td>
          </tr>

          <tr>
            <td>Sex</td>
            <td><%= @cat.sex  %></td>
          </tr>

          <tr>
            <td>Description</td>
            <td><%= @cat.description %></td>
          </tr>

        </table>
        <% if current_user&.id == @cat.user_id %>
          <p style="padding: 5px 17px;">
            <%= link_to "Edit", edit_cat_url(@cat), class: ["button", "warn"] %>
          </p>

        <% end %>

      </div>
    </div>
    <div>

      <% if @cat.cat_rental_requests.any? %>

        <h2>Rental requests</h2>
        <table class="text-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Status</th>
              <th>Requester</th>
              <% if current_user&.id == @cat.user_id %>
                <%# <% if current_user.try(:id) == @cat.user_id  %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>
          <% @cat.cat_rental_requests.each do |request| %>
            <tr>
              <td><%= request.id %> </td>
              <td><%= request.start_date %> </td>
              <td><%= request.end_date  %> </td>
              <td><%= request.status %></td>
              <td><%= request.requester.username %></td>

              <% if current_user&.id == @cat.user_id %>

                <td>
                  <% if request.status == "PENDING" %>
                    <%= button_to( "Approve", approve_cat_rental_request_url(request), class: ["button", "success", "hollow", "black"], method: :post) %>

                    <%= button_to( "Deny", deny_cat_rental_request_url(request), class: ["button", "alert", "hollow", "black"], method: :post) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h2>No record of rental requests</h2>
      <% end %>

      <%= link_to "Reserve!", new_cat_rental_request_url(id: @cat.id), class: ["button","cat-show__reserve"] %>
    </div>
  </div>
</div>
