<style>
  td {
    padding: 5px 15px;
  }
</style>
<div style="max-width: 600px; margin: auto;">
  <div style="display: flex;">
    <img src="http://placekitten.com/200/200" alt="">
    <div>
      <table>
        <tr>
          <th>Prop</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= @cat.name  %></td>
        </tr>
        <tr>
          <td>Birth date</td>
          <td><%= @cat.birth_date %></td>
        </tr>

        <tr>
          <td>Color</td>
          <td><%= @cat.color  %></td>
        </tr>

        <tr>
          <td>Sex</td>
          <td><%= @cat.sex  %></td>
        </tr>

        <tr>
          <td>Description</td>
          <td><%= @cat.description %></td>
        </tr>

      </table>
      <p style="padding: 5px 17px;">
        <%= link_to "Edit", edit_cat_url(@cat) %>
      </p>

    </div>
  </div>
</div>
