<% action = (post.persisted? ? post_url(post.id) : posts_url) %>
<% method = (post.persisted? ? "PATCH" : "POST") %>

<form action="<%= action %>" method="POST" >

  <% if method == "PATCH" %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <%= auth_token %>

  <p>
    <label for="title">Title: </label>

    <input id="title" type="text" name=post[title] value="<%= post.title if post.title %>" >
  </p>

  <p>
    <label for="url">URL: </label>

    <input id="url" type="text" name=post[url] value="<%= post.url if post.url %>" >
  </p>

  <p>
    <label for='content'>Content: </label>
    <textarea name='post[content]' id='content'><%= post.content if post.content %></textarea>
  </p>

  <%# list of subs %>

  <input type="hidden" name="post[sub_ids][]" value="">

  <% subs.each do |sub| %>
    <br>
    <label for="<%= sub.title %>">
      <input type="checkbox" name="post[sub_ids][]" id="<%= sub.title %>"
        value="<%= sub.id %>" 
        <%= "checked" if post.sub_ids.include?(sub.id) %>
      >
      <%= sub.title %>
    </label>
  <% end %>

  <p>
    <input id="post-submit" type="submit" value='<%= method == "POST" ? "Save post" : "Update post" %>' class="button form__submit">
  </p>
</form>
