<%= render 'form_errors', model: @cat_rental_request %>

<div class="grid-container form__container" >
  <div class="grid-x">
    <div class="cell small-12">
      <h1 class="form__header">Reserve the kitty</h1>
    </div>

    <div class="cell small-12">
      <form action="<%= cat_rental_requests_url %>" method="POST" >
        <%= auth_token %>
        <div>
          <label for="name">Choose cat</label>

          <select name="cat_rental_request[cat_id]" id="name">
            <option disabled <%= "selected" unless @cat_rental_request&.cat_id %> >--  Cat's name</option>
            <% @cats.each do |cat| %>
              <option value="<%= cat.id %>" <%= "selected" if @cat_rental_request.cat_id == cat.id %>>
                <%= cat.name %>
              </option>
            <% end %>
          </select>
        </div>
        <p>
          <label for="start_date">Start rent date</label>
          <input name="cat_rental_request[start_date]" id="start_date" type="date" min="<%= Date.today %>"  value="<%=  @cat_rental_request.start_date if @cat_rental_request.start_date   %>" >
        </p>

        <p>
          <label for="end_date">End rent date</label>
          <input name="cat_rental_request[end_date]" id="end_date" type="date" min="<%= Date.today + 1 %>" value="<%= @cat_rental_request.end_date if @cat_rental_request.start_date  %>" >
        </p>

        <p>
          <input type="submit" value="Make reservation" class="button form__submit">
        </p>
      </form>

    </div>
  </div>
