<h3>New Comment</h3>

<%= render 'errors' %>

<form action="<%= comments_url %>" method="POST">
  <%= auth_token %>

  <input type="hidden" name="comment[commentable_id]" value="<%= commentable_id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= commentable_type %>">

  <label>Comment
    <textarea name="comment[content]"></textarea>
  </label>
  <input type="submit" value="Save Comment">
</form>
